<%= form_for(helper) do |f| %>
  <% if helper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(helper.errors.count, "error") %> prohibited this helper from being saved:</h2>

      <ul>
      <% helper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :alias %>
    <%= f.text_field :alias %>
  </div>

  <div class="form-group">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <div class="form-group">
    <%= f.label :years_of_experience %>
    <%= f.number_field :years_of_experience %>
  </div>

  <div class="form-group">
    <%= f.label :rating %>
    <%= f.number_field :"rating" %>
  </div>

  <div class="form-group">
    <%= f.label :rates %>
    <%= f.number_field :rates %>
  </div>

  <div class="form-group">
    <%= f.label :speciality %>
    <%= f.text_area :speciality %>
  </div>

  <div class="form-group">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

</div>
<% end %>
