<% @helpers.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |helper| %>
      <div class="col-md-4">
        <%= image_tag helper.picture_url, width: '100%', :class=> "img-circular" if helper.picture.present?%>
        <h4><%= link_to helper.name, helper %></h4>
        <p>You can call me: <%= helper.alias %> </p>
        <p>I can do: <%= helper.speciality %> </p>
        <p>Rating: <%= helper.rating %>/10</p>
        <p>Years of Experience: <%= helper.years_of_experience %> years</p>
        <p>Rates: $<%= helper.rates %>/hr</p>
        <p>Age: <%= helper.age %> years old</p>
      </div>
    <% end %>
  </div>
<% end %>
