
<p>
  <strong>Name:</strong>
  <%= @helper.name %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @helper.alias %>
</p>

<p>
  <strong>Age:</strong>
  <%= @helper.age %>
</p>

<p>
  <strong>Years of experience:</strong>
  <%= @helper.years_of_experience %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @helper.rating %>
</p>

<p>
  <strong>Rates:</strong>
  <%= @helper.rates %>
</p>

<p>
  <strong>Speciality:</strong>
  <%= @helper.speciality %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@helper.picture_url, width: 600) if @helper.picture.present? %>

</p>

<%= render 'comments/comment' %>

<%= link_to 'Edit', edit_helper_path(@helper) %> |
<%= link_to 'Back', helpers_path %>
